<%- include('./partials/head')%> <%- include('./header')%>

<main>
  <div class="scored">
    <div class="teamleft">
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Pass</th>
            <th>Turn</th>
            <th>O/D</th>
          </tr>
        </thead>
        <tbody>
          <%# Point item team 1 %>
          <tr class="score-info-team-1">
            <% data2.scoredPoints.forEach(point => { %>
          </tr>
          <tr
          <% /*Als het gescoorde punt voor team1 is veranderd de kleur naar groen, anders naar 
              rood.
          */%>
            class="score-info-team-1 <%= (point.scored===point.team1Name) ? 'green' : 'red' %>">
            <td><%= point.team1Passes %></td>
            <td><%= point.team1Turnovers %></td>
            <td><%= point.team1OorD %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <span class="border"></span>

    <div class="teamright">
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Pass</th>
            <th>Turn</th>
            <th>O/D</th>
          </tr>
        </thead>
        <tbody>
          <%# Point item team 2 %>
          <tr class="score-info-team-2">
            <% data2.scoredPoints.forEach(point => { %>
          </tr>
          <tr
            class="score-info-team-2 <%= (point.scored===point.team2Name) ? 'green' : 'red' %>"
          >
            <td><%= point.team2Passes %></td>
            <td><%= point.team2Turnovers %></td>
            <td><%= point.team2OorD %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</main>

<%- include('./footer') %> <%- include('./partials/foot') %>
