<%- include('./partials/head')%>

<% let allPlayers = [...data1.team1Players, ...data1.team2Players] 
console.log(allPlayers)
%>

<header>
  <span class="fi fi-bq"> </span>
  <div class="score">
    <h2><%=data2.team1Score %>-<%=data2.team2Score %></h2>
    <p><%=data1.field %></p>
    <h3>VS</h3>
  </div>
  <span class="fi fi-gr"></span>
</header>

<main>
  <div class="scored">
    <div class="teamleft">
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Pass</th>
            <th>Turn</th>
            <th>O/D</th>
          </tr>
        </thead>
        <tbody>
          <%# Point item team 1 %>
          <tr class="score-info-team-1">
            <% data2.scoredPoints.forEach(point => { %>
            <%if(point.scored===point.team1Name) { %>
          </tr>
          <tr class="score-info-team-1 green">
            <td><%= point.team1Passes %></td>
            <td><%= point.team1Turnovers %></td>
            <td><%= point.team1OorD %></td>
          </tr>
          <% } else { %>
          <tr class="score-info-team-1 red">
            <td><%= point.team1Passes %></td>
            <td><%= point.team1Turnovers %></td>
            <td><%= point.team1OorD %></td>
          </tr>
          <% } %> <% }) %>
        </tbody>
      </table>
    </div>

    <span class="border"></span>

    <div class="teamright">
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Pass</th>
            <th>Turn</th>
            <th>O/D</th>
          </tr>
        </thead>
        <tbody>
          <%# Point item team 2 %>
          <tr class="score-info-team-2">
            <% data2.scoredPoints.forEach(point => { %> <% if(point.scored
            ===point.team2Name) { %>
          </tr>

          <tr class="score-info-team-2 green">
            <td><%= point.team2Passes %></td>
            <td><%= point.team2Turnovers %></td>
            <td><%= point.team2OorD %></td>
          </tr>
          <% } else { %>
          <tr class="score-info-team-2 red">
            <td><%= point.team1Passes %></td>
            <td><%= point.team1Turnovers %></td>
            <td><%= point.team1OorD %></td>
          </tr>
          <% } %> <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</main>

<footer>

  <div class="players-left">
    <h3>Players</h3>
    <% data1.team1Players.forEach(players => { %>
    <p><%= players.name %><span id="number"><%=players.jerseyNumber%></span></p>
    <% }) %>
  </div>

  <div class="stats">
    <h3>Score</h3>
    <% data2.scoredPoints.forEach(scored => { %>
      <% allPlayers.forEach(player => {%> 
          <% if(scored.scoredBy === player.playerId){ %>
            <p><%= player.name  %> - <%= scored.scoredBy %></p>
          <% } %>
      <% }) %>
    <% }) %> 
  </div>

  <div class="players-right">
    <h3>Players</h3>
    <% data1.team2Players.forEach(players => { %>
    <p><%= players.name %> <span id="number"><%=players.jerseyNumber%></span></p>
    <% }) %>
  </div>

</footer>

<%- include('./partials/foot') %>
